{% extends 'User/Head.html' %}
{% load static %}
{% block content %}
<div id="data">
    <table align="center" cellpadding="50" style="border-collapse: collapse">
        <tr>
            {% for i in LAND %}

            <td>
                <div style="text-align:center;border:1px solid black;margin:22px;padding:20px">
    
                    <p><img src="{{i.landload_photo.url}}" width="100px" height="100px" /></p>
                    <br>
                    <p>{{i.landload_name}}</p>
                    <br>
                    <p>{{i.landload_contact}}</p>   
                    <br>
                    <p>{{i.landload_email}}</p> 
                    <br>
                    <p> <a href="{% url 'User:viewplots' i.id %}">View Plots</a></p>
                    

                </div>
            </td>
            {% if forloop.counter|divisibleby:4 %}
        </tr>
        <tr>
            {% endif %}


            {% endfor %}
    </table>
    <br><br><br>
</div>



{% endblock content %} 