{% extends 'Worker/Head.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br>
    <div id="tab">
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>SI NO</td>
                <td>Date</td>
                <td>User Name</td>
                <td>Contact</td>
                <td>District</td>
                <td>Place</td>
                <td>Location</td>
                <td>Work Image</td>
                <td>Work Description</td>
                <td>Action</td>
            </tr>
            {% for i in Bookings %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.workbooking_date }}</td>
                <td>{{ i.user_id.user_name }}</td>
                <td>{{ i.user_id.user_contact }}</td>
                <td>{{ i.user_id.user_location.place.district }}</td>
                <td>{{ i.user_id.user_location.place }}</td>
                <td>{{ i.user_id.user_location }}</td>
                <td><img src="{{ i.work_id.work_image.url }}" alt="img" width="120px" height="120px"></td>
                <td>{{ i.work_id.work_details }}</td>
                <td> <a href="{% url 'Worker:accept' i.id %}">ACCEPT</a>
                <td> <a href="{% url 'Worker:reject' i.id %}">REJECT</a>

            </tr>
            {% endfor %}
        </table>
    </form>
    </div>
</body>
</html>

<br><br><br><br>

{% endblock content %} 